:root {
    --color: #5a1120;
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial;
}

h1 {
    color: var(--color, red);
    /* font-family: 64px Helvetica, 64px Arial, sans-serif; */
    font: 6.4rem Helvetica;
}

h2 {
    color: var(--color, red);
    font: 3.2rem Helvetica;
}

h3 {
    color: var(--color, red);
    font: 2.0rem Helvetica;
    font-weight: bold;
}

p {
    font: 1.6rem Helvetica;
}

.title {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 50%;
    align-items: flex-end;
    background-color: gray;
    height: 80dvh;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 200px;
    padding: 80px 200px;
    gap: 20px;
}

.sectionheader {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.preview {
    background-color: var(--color, red);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.details {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

header {
    background-color: var(--color, red);
    padding: 2.0rem;
}

nav > * {
    font: 2.0rem Helvetica;
    vertical-align: center;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 4px 12px;
}

.details > * {
    margin-left: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

footer {
    text-align: right;
    padding: 20px;
}

footer > * {
    display: inline;
    margin-right: 40px;
}

